Repository Renderz/vue3-andtv-admin-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{md,json}": ["prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.vue": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{css,less}": ["stylelint --fix", "prettier --write"],
  "*.ts?(x)": ["eslint --fix", "prettier --parser=typescript --write"],
  "package.json": ["prettier --write"]
}

feat: add tsconfig.json
  tsconfig.json
Due: prettier --write

feat: add husky dir
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
Due: none

fix: fix tsconfig
  tsconfig.json
Due: prettier --write

feat: add vite config
  .eslintrc.js
  build/utils.ts
  types/ant-design.d.ts
  types/app.d.ts
  types/global.d.ts
  types/http.d.ts
  types/vite.d.ts
  types/vue.d.ts
  types/window.d.ts
  vite.config.ts
Due: prettier --write, eslint --fix

feat: add plugins supporting
  build/antDesignVueResolve.ts
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/auto-imports.d.ts
  src/components.d.ts
  src/main.ts
  src/styles/index.less
  tsconfig.json
  types/module.d.ts
  types/shims-vue.d.ts
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: add env files
  .env
  .env.development
  .env.production
  index.html
  types/vite.d.ts
Due: none

feat: add http utilities
  src/utils/http/axios.ts
  src/utils/http/axiosCancel.ts
  src/utils/http/index.ts
  src/utils/http/types.ts
  src/utils/progress/index.ts
  types/http.d.ts
Due: none
